<ion-view class="backColor2"hide-tabs view-title="{{'weight_login' | translate}}">
    <ion-nav-bar class="bar-positive2 nav-title-slide-ios7 " align-title="center" >
        <ion-nav-buttons side="left" ng-click="back()"> <div class="imgStyleLeft"ng-click="back()"><img src="img/10.png"></div>
        </ion-nav-buttons>
        <!--<ion-nav-back-button>-->
        <!--</ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-content overflow-scroll="true" style="overflow: hidden;background-color: #049dd6">
        <div class="fristkuang" >
            <div class="shang">
                <!--<weight-picker3 title="体重设置" hidetime="true" yearstart="1" yearend="1024"-->
                <!--time-picker-result="result" style="text-align:center"></weight-picker3>-->

                <item-picker option="heightOption"></item-picker>
            </div>

            <div style="text-align:center;margin:0 auto">
                <!--<a  class="seekButton blue" ng-controller="weight_loginCtrl" ng-click="onClickNext()" >{{'next_button' | translate}}</a>-->
                <div class="yuanjiao"  ng-click="onClickNext()">
                    {{'next_button' | translate}}
                </div>
            </div>

        </div>
    </ion-content>

</ion-view>