<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="ustone-plugin-update"
        version="0.0.2">

    <name>App Auto Update</name>
    <js-module src="www/update.js" name="AutoUpdateJs">
        <clobbers target="navigator.update"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AutoUpdateNative">
                <param name="android-package" value="com.ustone.plugin.update.AutoUpdateNative"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
        </config-file>

        <source-file src="src/android/AutoUpdateNative.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/CheckUpdateThread.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/Constants.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/DownloadApkThread.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/DownloadHandler.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/GetRemoteXmlThread.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/MsgBox.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/ParseXmlService.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/UIValues.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/UpdateManager.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="src/android/Version.java" target-dir="src/com/ustone/plugin/update"/>
        <source-file src="res/values/update_strings.xml" target-dir="res/values"/>
        <source-file src="res/layout/update_progress.xml" target-dir="res/layout"/>
    </platform>
</plugin>
