<ion-view title="{{'about_privacy' | translate}}">
	<ion-nav-bar class="bar-positive2 nav-title-slide-ios7" align-title="center">
        <ion-nav-buttons side="left"> <div class="imgStyleLeft"  ><a href="#/main_setting"><img src="img/10.png"></a></div>
        </ion-nav-buttons>
		<!--<ion-nav-back-button>-->
        <!---->
		<!--</ion-nav-back-button>-->
	</ion-nav-bar>
    <ion-content overflow-scroll="true" style="overflow: hidden">
		<ion-list>
			<ion-item class="item item-icon-left item-icon-right" href="#/private">
				<i class="icon ion-chevron-left ion-ios-eye-outline" style="font-size:30px;color:darkgray;"></i>
				<span class="item-text">
					{{'about_privacy' | translate}}
				</span>
				<i class="icon ion-chevron-right icon-accessory"></i> 
			</ion-item>
			<ion-item class="item item-icon-left item-icon-right" href="#/protocol">
				<i class="icon ion-chevron-left ion-ios-paper-outline" style="font-size:20px;color:darkgray;"></i>
				<span class="item-text">
					{{'about_use' | translate}}
				</span>
				<i class="icon ion-chevron-right icon-accessory"></i> 
			</ion-item>
			<ion-item class="item item-icon-left item-icon-right" href="#/feedback">
				<i class="icon ion-chevron-left ion-ios-compose-outline" style="font-size:20px;color:darkgray;"></i>
				<span class="item-text">
					{{'about_feedback' | translate}}
				</span>
				<i class="icon ion-chevron-right icon-accessory"></i> 
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>