<!--'防丢器在身边无法连接？',-->
<ion-view view-title="{{detail.name}}">
	<ion-nav-bar class="bar-positive2 nav-title-slide-ios7" align-title="center">
        <ion-nav-buttons side="left"> <div class="imgStyleLeft"><a href="#/faq"><img src="img/10.png"></a></div>
        </ion-nav-buttons>
		<!--<ion-nav-back-button>-->
			<!---->
		<!--</ion-nav-back-button>-->
	</ion-nav-bar>
    <ion-content>
        <div style="padding: 10px">
            <p ng-bind-html="lastText"></p>
        </div>

	</ion-content>
</ion-view>