<!--意见反馈界面-->
<ion-view view-title="{{'feedback_feedbacked' | translate}}">
    <ion-nav-bar class="bar-positive2 nav-title-slide-ios7" align-title="center">
        <ion-nav-buttons side="left"> <div class="imgStyleLeft" ng-click="back()"><a href="#/about"><img src="img/10.png"></a></div>
        </ion-nav-buttons>
        <!--<ion-nav-back-button>-->

        <!--</ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-content scrollbar-y="false">
        <div class="list" style="color:#fff000">
            <label class="item item-input">
                <!--<span class="item-text" style="color: #AAAAAA;">{{'e_mail' | translate}}</span> -->
                <input type="text" placeholder="{{'e_mail' | translate}}"></label>
            <label class="item item-input"><textarea style="resize: none;height: 250px; max-height: 300px;" placeholder="{{'user_opinion' | translate}}"></textarea></label>
        </div>
        <div class="padding">
           <a href="#/about"><button class="button button-block bar-positive2">{{'submit' | translate}}</button></a>
        </div>
    </ion-content>
</ion-view>
  <!--<ion-content>-->
    <!--<div class="row">-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">1<br>2<br>3<br>4</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col col-top">.col</div>-->
      <!--<div class="col col-center">.col</div>-->
      <!--<div class="col col-bottom">.col</div>-->
      <!--<div class="col">1<br>2<br>3<br>4</div>-->
    <!--</div>-->

    <!--<div class="row row-top">-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">1<br>2<br>3<br>4</div>-->
    <!--</div>-->

    <!--<div class="row row-center">-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">1<br>2<br>3<br>4</div>-->
    <!--</div>-->

    <!--<div class="row row-bottom">-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">.col</div>-->
      <!--<div class="col">1<br>2<br>3<br>4</div>-->
    <!--</div>-->
  <!--</ion-content>-->
</ion-view>
<!--<style>-->
    <!--:-moz-placeholder { /* Mozilla Firefox 4 to 18 */-->
        <!--color: #f00;-->
    <!--}-->

    <!--::-moz-placeholder { /* Mozilla Firefox 19+ */-->
        <!--color: #f00;-->
    <!--}-->

    <!--input:-ms-input-placeholder,-->
    <!--textarea:-ms-input-placeholder {-->
        <!--color: #f00;-->
    <!--}-->

    <!--input::-webkit-input-placeholder,-->
    <!--textarea::-webkit-input-placeholder {-->
        <!--color: #f00;-->
    <!--}-->
<!--</style>-->