<ion-view title="{{'lost_setting3' | translate}}">
    <ion-nav-bar class="bar-positive2 nav-title-slide-ios7" align-title="center">
        <ion-nav-buttons side="left"> <div class="imgStyleLeft" ng-click="back()"><img src="img/10.png"></div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" style="overflow: hidden">
        <div class="alarm_connect1" ng-show="isShow" ng-click="onConnect()"></div>
        <ion-item class="item item-icon-left item-compact" ng-show="isShow">
            <i class="icon ion-alert" style="font-size:20px;color:red;"></i>
               <span class="item-text">
				 {{'notification_lost' | translate}}
			   </span>
        </ion-item>
        <ion-item class="item item-divider" style="font-size:10px;color:darkgray;">
            {{'lost_setting1' | translate}}
        </ion-item>
        <ion-list>
            <li class="item item-toggle">
                <div class="imgStyleSmall2"><i class="icon ion-chevron-left  ion-gear-b" style="font-size: 25px;color: #06add6;"></i></div>
				<span class="item-text" style="    width: 160px;">
                    {{'lost_setting2' | translate}}
				</span>
                <label class="toggle">
                    <input type="checkbox" ng-model="data.sms" ng-change="onLostSetting()">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ion-list>
        </ion-list>
    </ion-content>
</ion-view>