<!--日期选择工具-->
<div>
	<ion-checkbox style="padding:7px;text-align:center;" ng-model="checked.sunday">
		<span>
			{{'sunday' | translate}}
		</span>
	</ion-checkbox>
	<ion-checkbox style="padding:7px;text-align:center;" ng-model="checked.monday">
		<span>
			{{'monday' | translate}}
		</span>
	</ion-checkbox>
	<ion-checkbox style="padding:7px;text-align:center;" ng-model="checked.tuesday">
		<span>
			{{'tuesday' | translate}}
		</span>
	</ion-checkbox>
	<ion-checkbox style="padding:7px;text-align:center;" ng-model="checked.wednesday">
		<span>
		    {{'wednesday' | translate}}
		</span>
	</ion-checkbox>
	<ion-checkbox style="padding:7px;text-align:center;" ng-model="checked.thursday">
		<span>
			{{'thursday' | translate}}
		</span>
	</ion-checkbox>
	<ion-checkbox style="padding:7px;text-align:center;" ng-model="checked.friday">
		<span>
			{{'friday' | translate}}
		</span>
	</ion-checkbox>
	<ion-checkbox style="padding:7px;text-align:center;" ng-model="checked.saturday">
		<span>
			{{'saturday' | translate}}
		</span>
	</ion-checkbox>
</div>